body {
    background-color: black;
    font-family: monospace;
    color: white;
    text-align: center;
}
body section {
    margin: 70px;
}
a {
    font-size: 70px;
    text-decoration: none;
    font-family: monospace;
    color: greenyellow;
    position: relative;
    bottom: 370px;
    animation: fadein 60s;
}
a:hover {
    text-decoration: underline;
}
div#div2 img {
    position: relative;
    bottom: 90px;
    animation: fadeout 60s;
}
@keyframes fadeout {
    0% {opacity: 1;}
    16.99% {opacity: 1;}
    17% {opacity: 0;}
    100% {opacity: 0;}
}
div#div1 {
    position: relative;
    right: 400px;
    animation: fadeinout 60s;
}
div#div4 img {
    position: relative;
    bottom: 686px;
    left:7px;
    animation: fadein 60s;
}
@keyframes fadein {
    0% {opacity: 0;}
    16.99% {opacity: 0;}
    17% {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes fadeinout {
    0% {opacity: 1;}
    3% {opacity: 1;}
    4% {opacity: 1;}
    7.99% {opacity: 1;}
    8% {opacity: 0;}
    100% {opacity: 0;}
}